{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <!-- 게시글 제목 -->
  <h2 class="border-bottom py-2">{{ article.title }}</h2>
  <!-- 게시글 -->
  <div class="row my-3">
    <div class="col-1">
      <div class="bg-light text-center p-3 border fw-bolder mb-1"></div>
      <div class="d-grid gap-1">
        {% comment %} <a href="" class="recommend btn btn-sm btn-secondary">추천</a> {% endcomment %}
      </div>
    </div>
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="card-text mb-2">{{ article.content|linebreaks }}</div>
          <div class="d-flex justify-content-end">
            {% comment %} {% if article.updated_at %}
            <div class="badge bg-light p-2 text-start mx-3 text-dark">
              <div class="mb-2">수정일</div>
              <div>{{ article.updated_at|date:'y-m-d H:i' }}</div>
            </div>
            {% endif %} {% endcomment %}
            <div class="badge bg-light text-dark p-2 text-start">
              <div class="mb-2">{{ article.user.username }}</div>
              <div>{{ article.created_at|date:'y-m-d H:i' }}</div>
            </div>
          </div>
          {% if request.user == article.user %}
          <div class="my-3">
            <a href="{% url 'articles:update' article.pk %}" class="btn btn-sm btn-outline-secondary">수정</a>
            {% comment %} <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a> {% endcomment %}
            <a href="{% url 'articles:delete' article.pk %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
          </div>
          {% endif %}
          {% comment %} <a href="{% url 'articles:index' %}" class="btn btn-sm btn-outline-secondary">BACK</a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <!-- 댓글 개수 -->
  <h6 class="border-bottom my-3 py-2">{{ article.comment_set.all.count }}개의 댓글이 있습니다.</h6>
  <div class="card">
    <div class="card-body">
      <!-- 댓글 목록 -->
      {% if article.comment_set.count > 0 %}
        <div class="container">
          {% for comment in article.comment_set.all %}
            <div class="comment py-2">
              <span style="white-space: pre-line;">{{ comment.content|linebreaks }}</span>
              <span class="small text-muted">
                - {{ comment.user }} {{ comment.created_at|date:'y-m-d H:i' }}
                {% comment %} {% if comment.updated_at %}
                (수정:{{ comment.updated_at }})
                {% endif %} {% endcomment %}
              </span>
              {% if request.user == comment.user %}
              {% comment %} <a href="{% url 'articles:comment_modify_answer' comment.id %}" class="small text-decoration-none">수정</a> {% endcomment %}
              <a href="{% url 'articles:comments_delete' article.pk comment.pk %}" class="small delete text-decoration-none">삭제</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- 댓글 작성 -->
      <div class="container my-3">
        <form action="{% url 'articles:comments_create' article.pk %}" method="post" class="post-form my-3">
          {% csrf_token %}
          <textarea name="content" id="content" cols="5" rows="3" class="form-control my-3" {% if not request.user.is_authenticated %}disabled{% endif %}>{{ comment_form.content.value|default_if_none:'' }}</textarea>
          <button type="submit" class="btn btn-primary">등록</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


      {% comment %} <!-- 수정일, 작성자, 작성일 -->
      <div class="d-flex justify-content-end">
        {% if answer.modify_date %}
        <div class="badge bg-light p-2 text-start mx-3 text-dark">
          <div class="mb-2">수정일자</div>
          <div>{{ answer.modify_date }}</div>
        </div>
        {% endif %}
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">{{ answer.author.username }}</div>
          <div>{{ answer.create_date }}</div>
        </div>
      </div>
      <!-- 수정 버튼, 삭제 버튼 -->
      {% if request.user == answer.author %}
      <div class="my-3">
        <a href="{% url 'pybo:answer_modify' answer.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="{% url 'pybo:answer_delete' answer.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
      </div>
      {% endif %} {% endcomment %}






















<h1>DETAIL</h1>
<div>
  <!-- 게시글 -->
  <p>{{ article.pk }}</p>
  <p>{{ article.title }}</p>
  <p>{{ article.content }}</p>
  <p>{{ article.created_at }}</p>
  <p>{{ article.updated_at }}</p>
  <!-- 좋아요 버튼 -->
  <form action="{% url 'articles:likes' article.pk %}" method="post">
    {% csrf_token %}
    {% if user in article.like_users.all %}
      <button type="submit">DISLIKE</button>
    {% else %}
      <button type="submit">LIKE</button>
    {% endif %}
  </form>
  <!-- 게시글 수정, 삭제 버튼 -->
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">UPDATE</a>
    <form action="{% url 'articles:delete' article.pk %}" method="post">
      {% csrf_token %}
      <button type="submit">DELETE</button>
    </form>
  {% endif %}
  <!-- 뒤로가기 버튼 -->
  <a href="{% url 'articles:index' %}">BACK</a>
  <!-- 댓글 -->
  <h4>댓글 목록</h4>
  {% if comments %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  <ul>
    {% for comment in comments %}
      <li>{{ comment.user }} - {{ comment.content }}</li>
      <!-- 댓글 삭제 버튼 -->
      {% if user == comment.user %}
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">DELETE</button>
        </form>
      {% endif %}
    {% empty %}
      <p>댓글이 없습니다.</p>
    {% endfor %}
  </ul>
  <!-- 댓글 작성 -->
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comments_create' article.pk %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">SUBMIT</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인하세요.</a>
  {% endif %}
</div>
