<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'articles:index' %}">Articles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link">Hello, {{ user }}</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'accounts:profile' user.username %}" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <form action="{% url 'accounts:logout' %}" method="post" class="d-flex">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">Logout</button>
          </form>
        </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:signup' %}" class="nav-link">Signup</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
